body {
  background-repeat: repeat;
  background-position: top left;
  background: url("https://media.discordapp.net/attachments/727243562282123355/1088810577561923716/90545bg_finished.png?width=449&height=449");
  min-height: 100vh;
  position: relative;
}

@media (max-width: 1058px) {
  .cocktail__card {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .cocktail__card {
    width: 80%;
  }
}
